.cache
Desktop
Documents
dotfiles
Downloads
Music
Pictures
Public
Templates
Videos

**.o
**.obj
**/**.o
**/**.obj

**/.bash_history
.zcompcache
**/.zcompcache
.zcompdump
**/.zcompdump
**/.zsh_history
.zsh_history

.netrwhist
**/.netrwhist