.out
.vs
.vscode
**/.vscode
**.vcxproj
**.vcxproj.**
**/Makefile

**.sln
**/**.o
**/**.obj
**/**.class
**/**.exe
**/**.out
**/**.csv

/*.cpp
/*.c
/*.txt
/*.h
/*.hpp
/*.py
/*.rs
/*.java


